.list-view {
    -fx-font-family: 'monospace' !important;
    -fx-font-size: 13px !important;
    -fx-padding: 5px;
    -fx-border-color: #cccccc;  /* hellgrauer Rand */
    -fx-border-width: 1px;
}

.list-view .list-cell {
    -fx-background-color: white !important;
}

.list-view .list-cell:empty {
    -fx-background-color: white !important;
}
